---
import Layout from '../layouts/Layout.astro'
import RoomRouter from '../components/room/roomRouter/roomRouter'
import Description from '../components/description.astro'
---

<Layout title='Scrum Poker by spaceout.pl'>
  <div transition:animate='fade'>
    <RoomRouter ws_url={import.meta.env.PUBLIC_WS_URL} client:only='react' />
  </div>
  <Description />
</Layout>
