---
import RustIcon from '../../svgs/RustIcon.astro'
import Github from '../../svgs/Github.astro'
import AstroIcon from '../../svgs/AstroIcon.astro'
import Actix from '../../svgs/Actix.astro'
---

<div class='icon-bar'>
  <a
    href='https://www.rust-lang.org/'
    target='_blank'
    rel='noopener noreferrer'
  >
    <RustIcon width={24} height={24} />
  </a>
  <a
    href='https://github.com/MassivDash/scrumpoker'
    target='_blank'
    rel='noopener noreferrer'
  >
    <Github width={24} height={24} />
  </a>
  <a href='https://astro.build/' target='_blank' rel='noopener noreferrer'>
    <AstroIcon width={24} height={24} />
  </a>
  <a href='https://actix.rs/' target='_blank' rel='noopener noreferrer'>
    <Actix width={24} height={24} />
  </a>
</div>

<style>
  .icon-bar {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .icon-bar svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  .icon-bar a {
    color: inherit;
    text-decoration: none;
  }

  .icon-bar a:hover {
    opacity: 0.8;
  }
</style>
