.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 400px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-user {
  background-color: #ffcc00;
  padding: 10px;
}

.table-question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 900px;
}

.user-card {
  margin-top: 10px;
}

.question-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
