---
import SpaceoutIcon from '../../svgs/Spaceout.astro'
---

<nav>
  <div class='nav'>
    <a id='spaceout-link' href='https://scrumpoker.spaceout.pl'>
      <SpaceoutIcon height={35} width={35} />
    </a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 1em;
  }

  a {
    z-index: 100000000;
  }
</style>
