<section>
  <p>
    Revolutionize your Agile planning with Scrum Poker – the open-source,
    WebSocket-powered estimation app. Create custom rooms, invite team members
    via room url, and watch as votes appear in real-time. Enjoy unlimited
    questions, ad-free experience, and cross-device compatibility. Perfect for
    distributed teams, Scrum Poker streamlines story point estimation, making
    your Scrum sessions more efficient and engaging. Join the future of Agile
    estimation today – no sign-up required!*. Import your stories from excel and
    export your team answers to excel file as well. All for free
  </p>
  <p>* each user must create a room establishing his username and session</p>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  p {
    max-width: 1024px;
    margin: 20px;
  }
</style>
