---
import IconBar from './iconbar/IconBar.astro'
---

<footer>
  <IconBar />
  <div class='footer'>
    <div class='flex'>
      <a href='https://github.com/MassivDash/astroX'
        >Build on Astro X template</a
      >
      <p>by</p>
      <a href='https://github.com/MassivDash'>Spaceghost</a>
    </div>
    <div class='flex'>
      <a href='https://spaceout.pl'>spaceout.pl</a>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: whitesmoke;
    color: rgb(44 44 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1560px;
  }

  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  a {
    color: rgb(6, 6, 6);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style: none;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: whitesmoke;
  }

  ul a {
    color: rgba(6, 6, 6, 0.854);
  }

  ul:hover {
    color: rgb(6, 6, 6);
  }
</style>
