.estimations-menu {
  position: relative;
  right: 5px;
  top: 100px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  max-height: 40vh;
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .estimations-menu {
    position: absolute;
    width: 300px;
  }
}

.estimations-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.estimations-list li {
  padding: 10px;
  transition: background-color 0.3s;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.question {
  position: relative;
  appearance: none;
  font-size: 1em;
  background: none;
  border: none;
  pointer: button;
}

.reveal-icon {
  margin-left: 10px;
  font-size: 1.2em;
}

.estimation-menu-button {
  position: relative;
  appearance: none;
  background: none;
  border: none;
  width: 28px;
  height: 28px;
}

.estimation-menu-button:hover {
  cursor: pointer;
  background-color: #ccc;
}

.estimation-menu-button .tooltip,
.question .tooltip {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  top: 125%; /* Position the tooltip below the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.estimation-menu-button .tooltip::after,
.question .tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%; /* Arrow at the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.estimation-menu-button:hover .tooltip,
.question:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.current-estimation {
  transform: translateX(-10px);
}
